In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import math
import re

from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import (RandomTreesEmbedding, RandomForestClassifier,
                              GradientBoostingClassifier)
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVR
import glob

In [8]:
dfTemp = pd.DataFrame({'col1':[1,2],'col2':[3,4]})
dfTemp.rename(columns = {'col1':'booty'}, inplace = True)
dfTemp.head()

   booty  col2
0      1     3
1      2     4